<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crea tu cuenta</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body text-center">
                    <img src="assets/img/logoT.png" width="20%" alt="">
                    <form class="user" action="register" method="POST">

                        <div class="form-group">
                            <input type="text" class="form-control form-control-user" name="name" placeholder="Nombre y Apellido...">
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="rol" id="rol" style="border-radius: 10rem">
                                <option selected value="">Función de la empresa</option>
                                <option value="2">Empleado</option>
                                <option value="3">Repartidor</option>
                              </select>
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" name="user" placeholder="Correo Electrónico...">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-user" name="pass" placeholder="Contraseña...">
                        </div>
                        <hr>
                         <input type="submit" class="btn btn-primary btn-user btn-block" value="Crear Cuenta">
                    </form>
                </div>

            </div>
        </div>
    </div>
  

  