<!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/repartidor">
                <img src="assets/img/logoT.png" width="40%" alt="">

                <div class="sidebar-brand-text mx-3">Repartidor</div>
            </a>

            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Menú
            </div>

            <!-- Nav Item - Charts -->



            <li class="nav-item">
                <a class="nav-link" href="/listaPedidos">
                    <i class="fas fa-fw fa-table"></i>
    
                    <span>Lista de Pedidos</span></a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/factura">
                    <i class="fas fa-fw fa-clipboard-list"></i>
    
                    <span>Factura</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/tableGanancias">
                    <i class="fas fa-fw fa-comment-dollar"></i>
                    <span>Ganancias</span></a>
            </li>
            

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->