<!-- Modal -->
    <div class="modal fade" id="modalPedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title">Pedido</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form class="user" action="/hacerPedido" method="POST">

                        <div class="form-group">
                            <label>Fecha de Entrega:</label>
                            <input type="date" class="form-control" id="fechaActual" name="fecha" placeholder="{{currentDate}}" min={{currentDate}} required>
                        </div>
                        <hr>
                        <label>Dirección: </label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="principal" placeholder="Calle Principal..." required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="secundaria" placeholder="Calle Secundaria(Opcional)..." >
                        </div>
                        <hr>
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Confirmar Pedido">
                        </div>
                         
                    </form>
                </div>

            </div>
        </div>
    </div>
  

  <script>
    window.onload = function(){
  var fecha = new Date(); //Fecha actual
  var mes = fecha.getMonth()+1; //obteniendo mes
  var dia = fecha.getDate(); //obteniendo dia
  var ano = fecha.getFullYear(); //obteniendo año
  if(dia<10)
    dia='0'+dia; //agrega cero si el menor de 10
  if(mes<10)
    mes='0'+mes //agrega cero si el menor de 10
  document.getElementById('fechaActual').value=ano+"-"+mes+"-"+dia;
}
</script>